

{% extends "base.html" %}
{% block content %}


<body>

<div class="container">
    <div class ="row mt-5">
       <div class="col-md-6 offset-3 card">
            <div class="row">
                <div class="card-body stcard">
                    <form class="form" method="post" action="/dictionary">
                            <div class="col-md-12" style="padding:20px;">
                                <h3 class="btn btn-lg text-center text-danger">ASK ME : </h3><br>
                                <div class="row">
                                    <div class="col-8">
                                        <input type="text" class="form-control" style="resize:non" id="word" name="word">
                                         </div>
                                    <div class="col-2">
                                        <button type="button" class="btn btn-sm form-control btn-light" onclick="process()"><i class="fa fa-play-circle" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="col-2">
                                        <button type="submit" class="btn btn-sm form-control btn-warning" value=""><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
       </div>
    </div>
</div>

</body>
<script type="text/javascript">
function process(){
let msg = document.getElementById("word").value;
let speech = new SpeechSynthesisUtterance();

speech.lang = "en-US";
speech.text = msg;
speech.volume = 1;
speech.rate = 1;
speech.pitch = 1;

window.speechSynthesis.speak(speech);

}
</script>

{% endblock %}